*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

header{
    display: flex;
    background-color:#F8DE58;
    color: black;
    width: 100vw;
    justify-content: center;
    align-items: center;
    height: 189px;
}

.menu{
    position: absolute;
    padding-left: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    left: 30px;
}

.menu img{
    width: 72px ;
    height:72px ;
}

.cadastro{
    display: flex;
    flex-direction: column; 
    width: 782px;
}

.cadastro input{
    background-color: black;
    color: white;
    height: 94px;
}

.cadastro label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

main{
    background-color: white;
    display: flex;
    justify-content: center;
}

.botao input{
 
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 48px;
background: #000000;;
width: 433px;
height: 95px;
color:#FFFFFF;
display: flex;
justify-content: center;
align-items: center;
}

input[type="checkbox"]{
    width:30px ;
    height:30px ;
}

.botao{
    display: flex;
    justify-content: center;
}